<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow-sm">
        <div class="card-header text-center">
          <h3 class="mb-0">Register</h3>
        </div>
        <div class="card-body">
          <form [formGroup]="registerForm" (ngSubmit)="handleSubmitForm()" (keydown.enter)="$event.preventDefault()">
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input type="text" class="form-control" id="name" formControlName="name" placeholder="Enter your name">
              <div *ngIf="registerForm.get('name')?.touched && registerForm.get('name')?.invalid" class="text-danger" aria-live="assertive">
                Name is required.
              </div>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" formControlName="email" placeholder="name@example.com">
              <div *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.invalid" class="text-danger" aria-live="assertive">
                <div *ngIf="registerForm.get('email')?.errors?.['required']">Email is required.</div>
                <div *ngIf="registerForm.get('email')?.errors?.['email']">Invalid email format.</div>
              </div>
            </div>
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input type="text" class="form-control" id="username" formControlName="username" placeholder="Enter your username">
              <div *ngIf="registerForm.get('username')?.touched && registerForm.get('username')?.invalid" class="text-danger" aria-live="assertive">
                Username is required and should contain no spaces.
              </div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" formControlName="password" placeholder="Enter your password">
              <div *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.invalid" class="text-danger" aria-live="assertive">
                <div *ngIf="registerForm.get('password')?.errors?.['required']">Password is required.</div>
                <div *ngIf="registerForm.get('password')?.errors?.['minlength']">Password must be at least 8 characters.</div>
                <div *ngIf="registerForm.get('password')?.errors?.['pattern']">
                  Password must contain at least one lowercase letter, one uppercase letter, one digit, and one special character.
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label for="confirmPassword" class="form-label">Confirm Password</label>
              <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword" placeholder="Enter your confirm password">
              <div *ngIf="registerForm.get('confirmPassword')?.touched && registerForm.get('confirmPassword')?.invalid" class="text-danger" aria-live="assertive">
                Confirm Password is required.
              </div>
              <div *ngIf="registerForm.hasError('mismatch') && registerForm.get('confirmPassword')?.touched" class="text-danger" aria-live="assertive">
                Passwords do not match.
              </div>
            </div>

            <div formArrayName="addresses">
              <div *ngFor="let address of addresses.controls; let i = index" [formGroupName]="i" class="mb-3">
                <h5>Address {{i + 1}}</h5>
                <label for="address-{{i}}" class="form-label">Address</label>
                <input type="text" class="form-control" id="address-{{i}}" formControlName="address" placeholder="Enter address">
                <div *ngIf="address.get('address')?.touched && address.get('address')?.invalid" class="text-danger" aria-live="assertive">
                  Address is required.
                </div>

                <label for="street-{{i}}" class="form-label">Street</label>
                <input type="text" class="form-control" id="street-{{i}}" formControlName="street" placeholder="Enter street">
                <div *ngIf="address.get('street')?.touched && address.get('street')?.invalid" class="text-danger" aria-live="assertive">
                  Street is required.
                </div>

                <label for="country-{{i}}" class="form-label">Country</label>
                <input type="text" class="form-control" id="country-{{i}}" formControlName="country" placeholder="Enter country">
                <div *ngIf="address.get('country')?.touched && address.get('country')?.invalid" class="text-danger" aria-live="assertive">
                  Country is required.
                </div>

                <label for="city-{{i}}" class="form-label">City</label>
                <input type="text" class="form-control" id="city-{{i}}" formControlName="city" placeholder="Enter city">
                <div *ngIf="address.get('city')?.touched && address.get('city')?.invalid" class="text-danger" aria-live="assertive">
                  City is required.
                </div>

                <button type="button" class="btn btn-danger mt-2" (click)="removeAddress(i)">Remove Address</button>
              </div>
            </div>
            <button type="button" class="btn btn-warning  mb-3" (click)="addAddress()">Add Another Address</button>
            <div class="d-grid">
              <button type="submit" class="btn btn-dark btn-block">Register</button>
            </div>
            <div class="text-center mt-3">
              <a href="/login" class="text-decoration-none">Register as a new user</a>
            </div>
          </form>
        </div>
      </div>
    </div>
 
